<ion-header [translucent]="true">
  <ion-toolbar class="topToolbar">
    <div class="calcTitle">
      <img src="/assets/images/angular-ionic-calculator.png" class="calcLogo" />
      <strong>Angular Ionic Calculator</strong>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div id="container">
    <strong>Angular Ionic Calculator</strong>
    <p>
      Angular Ionic
      <a
        target="_blank"
        rel="noopener noreferrer"
        href="https://ionicframework.com/docs/components"
        >Calculator</a
      >
    </p>
  </div>
</ion-content>
